{% load static from staticfiles %}

<!doctype html>
<html data-ng-app="pointsheetApp">
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script>
        globals = {
            pointsheetsUrl: '{% url "pointsheets" %}'
        }
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" charset="utf-8"></script>
        <script src="{% static 'js/angular-csrf-cross-domain.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>
    </head>
    <body>
        <div data-ng-controller="pointsheetsCtrl">
            <section class="row">
                <article>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                        </tfoot>
                        <tbody data-ng-repeat="item in data.pointsheets">
                            <tr>
                                <td data-ng-bind="item.year"></td>
                                <td data-ng-bind="item.month"></td>
                                <td>
                                    <a href="#editar" class="btn btn-info">
                                        <input type="hidden" name="" value="" data-ng-bind="item.id">
                                    </a>
                                    <a href="#remove" class="btn btn-danger" data-ng-click="removePointsheet(item)">
                                        <input type="hidden" name="" value="" data-ng-bind="item.id">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </section>
            <div class="pure-alert pure-alert-success" data-ng-show="data.success">
                <b>Atualizado!</b>
                <br><br>
            </div>
            <br>
            <form class="pure-form pure-form-aligned" data-ng-submit="updatePointsheet()">
                {% csrf_token %}
                <label>Year:</label>
                <input type="number" name="year" value="" data-ng-model="data.year" placeholder="Year" title="Enter pointsheet year">
                <br><br>
                <label>Month:</label>
                <input type="number" name="month" value="" data-ng-model="data.month" placeholder="Month" title="Enter pointsheet month">
                <input type="submit" value="Adicionar comentário">
            </form>
            <hr>
        </div>
    </body>
</html>