{% extends 'layout/base.html' %}
{% load static from staticfiles %}

{% block content %}

<section data-ng-controller="pointsheetsCtrl" class="container">
    <header class="page-header">
        <h2>Pointsheet - <small>Main</small></h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Pointsheet</li>
        </ol>
    </header>
    <section class="row well">
        <button class="btn btn-primary" data-ng-click="showForm()">
            Insert
        </button>
        <button class="btn btn-default" title="Came back for last page.. defained so long">
            Came back
        </button>
    </section>
    <section class="row">
        <header class="alert alert-success" data-ng-show="data.success">
            <b>Success!</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </header>
        <article class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed" data-ng-if="data.pointsheets.length > 0">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <em>Rown <strong ng-bind="data.pointsheets.length"></strong></em>
                        </td>
                    </tr>
                </tfoot>
                <tbody data-ng-repeat="item in data.pointsheets">
                    <tr>
                        <td data-ng-bind="item.year"></td>
                        <td data-ng-bind="item.month"></td>
                        <td>
                            <a href="#editar" class="btn btn-info" data-ng-click="updateForm(item)">
                                <input type="hidden" name="" value="" data-ng-bind="item.id">
                                Edit
                            </a>
                            <a href="#remove" class="btn btn-danger" data-ng-click="removePointsheet(item)">
                                <input type="hidden" name="" value="" data-ng-bind="item.id">
                                Remove
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <em data-ng-if="data.pointsheets.length==0">Not exist any register of the pointsheet in the system</em>
        </article>
    </section>

    {% include "pointsheet/partial/_modalForm.html" %}
</section>

{% endblock content %}

{% block scriptsContent %}

<script src="{% static 'js/app/factory/pointsheet-factory.js' %}"></script>
<script src="{% static 'js/app/service/pointsheet-service.js' %}"></script>
<script src="{% static 'js/app/controller/pointsheet-controller.js' %}"></script>

{% endblock scriptsContent %}