{% extends 'layout/base.html' %}
{% load static from staticfiles %}

{% block content %}
<section class="container">
	<header class="page-header">
        <h2>Release - <small>Main</small></h2>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Release</li>
        </ol>
    </header>
    <section class="row well">
        <button class="btn btn-primary">
            Insert
        </button>
        <button class="btn btn-default" title="Came back for last page.. defained so long">
            Came back
        </button>
    </section>
    <section class="row">

    </section>
</section>
{% endblock content %}

{% block scriptsContent %}

{% endblock scriptsContent %}